body{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}

/* 搜索头部 */
header{
    height: 40px;
    width: 100%;
}
header div{
    width: 100%;
    margin: 0 auto;
    height: 40px;
    background: #dd4b26;
    display: flex;
    justify-content:space-between;
}
header div .logo{
    width: 40px;
    height: 40px;
}
header div form{
    width: 80%;
}
header div input{
    width: 98%;
    height: 30px;
    border:1px solid red;
    border-radius: 15px;
    margin: 5px;
    padding-left: 30px;
}
header div form .search_icon{
    background: url(../images/search_icon.png) no-repeat 5px #fff;
    background-size: 20px 20px;
}
header div .login{
    width: 50px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
}

/* 导航栏 */
nav{
    width: 100%;
    border-bottom: 1px solid #C0C0C0;
}
nav ul{
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
}
nav ul li{
    width: 25%;
}
nav ul li a{
    display: block;
}
nav ul li a img{
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto;
}
nav ul li a p{
    text-align: center;
    color: #666;
    font-size: 12px;
    padding: 6px 0;
}