body{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    /* position: fixed;
    left: 0;
    top: 0; */
    height: 40px;
    width: 100%;
}
header div{
    width: 100%;
    margin: 0 auto;
    height: 40px;
    background: #dd4b26;
    display: flex;
    justify-content:space-between; 
    /* position: relative;
    float: left; */
}
header div img{
    width: 40px;
    height: 40px;
}
header div form{
    width: 80%;
}
header div input{
    width: 100%;
    height: 30px;
    border-radius: 15px;
    margin: 5px;
}
header div .search_icon{
    background-image: url(images/search_icon.png) no-repeat center;
}