body{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    height: 40px;
    width: 100%;
}
header div{
    width: 100%;
    margin: 0 auto;
    height: 40px;
    background: #dd4b26;
    display: flex;
    justify-content:space-between;
}
header div .logo{
    width: 40px;
    height: 40px;
}
header div form{
    width: 80%;
}
header div input{
    width: 98%;
    height: 30px;
    border:1px solid red;
    border-radius: 15px;
    margin: 5px;
    padding-left: 30px;
}
header div form .search_icon{
    background: url(../images/search_icon.png) no-repeat 5px #fff;
    background-size: 20px 20px;
}
header div .login{
    width: 50px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
}